@font-face {
	font-family: 'Ltoa';
	font-weight: 400;
	src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
		 url('../fonrs/lato-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;	 	
}